<div style="float:initial">
    <div class="header">
        <H1>Posts in <%-category%> category: </H1>
    </div>
    <div class="lefthome">
    <% posts.forEach(function(post) {%>
        <div class="homeposts">
                <h2><%=post.PostTitle %></h2>
                <img class="home_img" src="/images/<%=post.PostImagePath %>" alt=":( no Image available">
                <p><%=String(post.PostDate).substr(0, 15); %> By <%=post.PostCreator %></p>
                <pre><p><%=post.PostContent %>...</p></pre>
                <form method="GET" action="/posts/<%=post.PostTitle %>">
                    <input type="submit" value="Read more"></input>
                </form>
        </div>
        <% })%>
    </div>
</div>
